# Series

In [1]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [2]:
ice_cream = ["Chcocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0    Chcocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery_numbers= [4, 8, 15, 16, 23, 42]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create a Series Object from a Dictionary

In [5]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [6]:
prices = pd.Series([2.99, 4.55, 1.36])
prices

0    2.99
1    4.55
2    1.36
dtype: float64

In [7]:
prices.sum()

8.9

In [8]:
prices.product()

18.50212

In [9]:
prices.mean()

2.966666666666667

In [10]:
prices.std()

1.5951279990437548

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [11]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [12]:
adjectives.size

6

In [13]:
adjectives.is_unique

False

In [14]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [15]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [16]:
type(adjectives.values)

numpy.ndarray

In [17]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

In [18]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday","Wednesday", "Thursday", "Friday", "Monday"]

In [19]:
pd.Series(fruits) #press shift + tab to see the arguments that the Series object takes in
pd.Series(fruits, weekdays) #Series(Data, Index,...) 
pd.Series(weekdays, fruits)

Apple            Monday
Orange          Tuesday
Plum          Wednesday
Grape          Thursday
Blueberry        Friday
Watermelon       Monday
dtype: object

In [20]:
pd.Series(data=fruits, index=weekdays) 
#This syntax is beneficial because:
# 1. parameters can help provide context as to what the parameters represent
# 2. we are no longer dependent on the order / positions of the arguments

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

In [21]:
pd.Series(fruits, index=weekdays)
# a mixed approach to syntax :)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [33]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
# You can only squeeze a one-column DataFrame into a series
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [34]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [37]:
pokemon.head()
pokemon.head(5)
pokemon.head(n=5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [38]:
google.tail()
google.tail(5)
google.tail(n=5)

4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

In [39]:
google.tail(7)

4786    134.727005
4787    130.139999
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [51]:
len(pokemon)
type(pokemon)
list(pokemon)
sorted(pokemon)
type(sorted(pokemon))
dict(pokemon)

max(google)
min(google)

2.47049

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [52]:
"car" in "racecar"

True

In [57]:
2 in pokemon #True -- "in" defaults to look at the indices
"Bulbasaur" in pokemon.values

True

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

In [59]:
google.sort_values()

10        2.470490
0         2.490664
13        2.509095
11        2.514326
1         2.515820
           ...
4341    150.000000
4336    150.000000
4346    150.141754
4345    151.000000
4395    151.863495
Name: Price, Length: 4793, dtype: float64

In [60]:
google.sort_values(ascending=False)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
           ...
12        2.515820
11        2.514326
13        2.509095
0         2.490664
10        2.470490
Name: Price, Length: 4793, dtype: float64

In [62]:
pokemon.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Name, Length: 1010, dtype: object

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

In [65]:
pokemon_series = pd.read_csv("pokemon.csv", index_col = "Name").squeeze()
pokemon_series.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [66]:
pokemon_series.sort_index()

Name
Abomasnow        Grass, Ice
Abra                Psychic
Absol                  Dark
Accelgor                Bug
Aegislash      Steel, Ghost
                  ...
Zoroark                Dark
Zorua                  Dark
Zubat        Poison, Flying
Zweilous       Dark, Dragon
Zygarde      Dragon, Ground
Name: Type, Length: 1010, dtype: object

In [70]:
"Dragon" and "Dark" and "Dark, Dragon" in pokemon_series.values

True

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [73]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze()

In [88]:
pokemon.iloc[0:2]
pokemon.iloc[500]
pokemon.iloc[[0, 5, 400]]
pokemon.sort_values().iloc[:-1000]

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
868      Alcremie
Name: Name, dtype: object

## Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

In [89]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze()

In [91]:
pokemon.loc["Bulbasaur"] #Name driven loc is for labels, iloc is for indicies

'Grass, Poison'

In [93]:
pokemon.loc[["Charizard","Jolteon", "Meowth"]]

Name
Charizard    Fire, Flying
Jolteon          Electric
Meowth             Normal
Name: Type, dtype: object

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

In [95]:
pokemon.get("Moltres")

'Fire, Flying'

In [101]:
pokemon.get("Digimon") # spits out None
type(pokemon.get("Digimon"))
pokemon.get("Digimon", "nonexistent") # sets default if none

'nonexistent'

In [99]:
pokemon.get("Moltres", "nonexistent")

'Fire, Flying'

In [104]:
pokemon.get(["Moltres", "Digimon"], "One Was Not Found")

'One Was Not Found'

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [106]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [107]:
pokemon.iloc[0] = "Borisaur"

In [108]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [110]:
pokemon.iloc[[1,2,4]] = ["Firemon", "Flameon", "Blazemon"]
pokemon.head()

0      Borisaur
1       Firemon
2       Flameon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [111]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze()

In [113]:
pokemon.loc["Bulbasaur"] = "Awesomeness"
pokemon.head()

Name
Bulbasaur       Awesomeness
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [114]:
pokemon.iloc[1] = "Silly"
pokemon.head()

Name
Bulbasaur       Awesomeness
Ivysaur               Silly
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [117]:
pokemon["Bulbasaur"] = "Something Else"
pokemon.head()

Name
Bulbasaur     Something Else
Ivysaur                Silly
Venusaur       Grass, Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

In [131]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Name"])

In [132]:
pokemon_series = pokemon_df.squeeze().copy()

In [133]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [134]:
pokemon_series[0] = "Whatever"

In [135]:
pokemon_series.head()

0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [136]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [137]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze()
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [138]:
google.count()

4793

In [143]:
google.size #includes missing values (this csv has no missing values)

4793

In [144]:
google.sum()

192733.129338

In [156]:
#google.product() #overflow error
google.iloc[[1,3,4]].product()

18.22194464108469

In [147]:
google.mean()

40.211376870018775

In [148]:
google.std()

37.27475294386811

In [150]:
google.max()

151.863495

In [151]:
google.min()

2.47049

In [152]:
google.median()

26.327717

In [153]:
google.mode()

0    14.719826
1    49.000000
Name: Price, dtype: float64

In [154]:
google.describe()

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [157]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze()
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [161]:
google.head().add(10)
google.head() + 10

0    12.490664
1    12.515820
2    12.758411
3    12.770615
4    12.614201
Name: Price, dtype: float64

In [162]:
google.sub(10)

0        -7.509336
1        -7.484180
2        -7.241589
3        -7.229385
4        -7.385799
           ...
4788    122.080002
4789    122.998001
4790    125.570007
4791    127.050003
4792    128.429993
Name: Price, Length: 4793, dtype: float64

In [163]:
google.mul(2)

0         4.981328
1         5.031640
2         5.516822
3         5.541230
4         5.228402
           ...
4788    264.160004
4789    265.996002
4790    271.140014
4791    274.100006
4792    276.859986
Name: Price, Length: 4793, dtype: float64

In [164]:
google.div(.5)

0         4.981328
1         5.031640
2         5.516822
3         5.541230
4         5.228402
           ...
4788    264.160004
4789    265.996002
4790    271.140014
4791    274.100006
4792    276.859986
Name: Price, Length: 4793, dtype: float64

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [165]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze()

In [166]:
pokemon.value_counts()

Type
Water               74
Normal              74
Grass               46
Psychic             39
Fire                36
                    ..
Fighting, Ice        1
Fire, Dragon         1
Normal, Dragon       1
Psychic, Steel       1
Fighting, Dragon     1
Name: count, Length: 200, dtype: int64

In [169]:
pokemon.value_counts(ascending=True)

Type
Ice, Ghost           1
Fire, Water          1
Fighting, Flying     1
Normal, Ground       1
Dragon, Electric     1
                    ..
Fire                36
Psychic             39
Grass               46
Normal              74
Water               74
Name: count, Length: 200, dtype: int64

In [176]:
pokemon.value_counts(normalize=True) * 100

Type
Water               7.326733
Normal              7.326733
Grass               4.554455
Psychic             3.861386
Fire                3.564356
                      ...
Fighting, Ice       0.099010
Fire, Dragon        0.099010
Normal, Dragon      0.099010
Psychic, Steel      0.099010
Fighting, Dragon    0.099010
Name: proportion, Length: 200, dtype: float64

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [179]:
pokemon = pd.read_csv("pokemon.csv", usecols=[0]).squeeze()
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [181]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

In [182]:
def count_of_a(pokemon):
    return pokemon.count("a")

pokemon.apply(count_of_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

In [184]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze()
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [185]:
attack_powers = {
    "Grass": 10,
    "Fire": 15,
    "Water": 15,
    "Fairy, Fighting": 20,
    "Grass, Psychic": 50   
}

In [186]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves     50.0
Name: Type, Length: 1010, dtype: float64

In [193]:
attack_powers = pd.Series({
    "Grass": 10,
    "Fire": 15,
    "Water": 15,
    "Fairy, Fighting": 20,
    "Grass, Psychic": 50   
})

In [194]:
attack_powers

Grass              10
Fire               15
Water              15
Fairy, Fighting    20
Grass, Psychic     50
dtype: int64