# Python Crash Course

## Comments
- A **comment** is a line of text ignored by Python.
- Use a hashtag/octothorpe (#) to create a comment.

In [5]:
# Author: Danielle
# Solve complex mathematical expression using Python
3+3 #this is also a comment
5+5
10+10 #This is another comment

10

## Basic Data Types
- An **integer** is a whole number.
- A **floating-point** number is one with a fractional or decimal component.
- A **string** is a piece of text. It's a collection of characters.
- An **empty string** has a length of 0 characters.
- A **Boolean** is a type whose value can only be True or False.
- **None** is a special Python type that represents nothingness, blankness, or the absence of a value.
- The operations that can be performed on a value depend on its type. There are functionalities that we can do with strings but not numbers, and vice versa.

In [6]:
#Integers - whole numbers
1
5
10
13

13

In [17]:
#Floating Point - numbers with a decimal/fraction component
3.14
3.14159
-113.2345
.00123

0.00123

In [18]:
# String - a piece of text, collection of characters
"Danielle"
"1234"
" .!?/$% "

' .!?/$% '

In [13]:
139.99 + 4.15
#"139.99" + 4.15 THIS WON'T ADD DIFFERENT DATA TYPES TOGETHER
"139.99" + "4.15"

'139.994.15'

In [14]:
# Empty String - a string without characters
""

''

In [15]:
# Boolean - George Boole
True
False

False

In [16]:
5 < 7

True

In [19]:
10 > 12

False

In [20]:
# None - a type that repesents absence/nullness/a value missing
None

## Operators
- An **operator** is a symbol that performs an operation (mathematical, logical, etc).
- Python supports all traditional mathematical operation - `+` for addition, `-` for subtraction, `*` for multiplication, and `/` for division.
- The floor division operator (`//`) leaves off the floating point portion of a division result.
- The `+` operator performs concatenation when used with strings.
- The equality operator (`==`) returns True if two values are equal to each other.
- The inequality operator (`!=`) returns True if two values are unequal to each other.

In [42]:
5 + 3 #8
3.14 + 7.96 #11.1
5 + 10.23 
# Nice to add spaces before and after operators

15.23

In [25]:
# Concatenation
"race" + "car"

'racecar'

In [26]:
10 - 5

5

In [31]:
4 * 3

12

In [28]:
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [30]:
# PEMDAS - Parenthese, Exponents, Multiplication/Division, Addition/Subtraction
(3 + 4) * 5

35

In [32]:
15 / 4

3.75

In [34]:
# Floor division - leaves out the floating point
10 // 3

3

In [37]:
# Modulo operator - returns the remainder of a division
14 % 3 #2
13 % 3 #1
15 % 3

0

In [48]:
# Equality Operator - checks if two values are equal
1 == 2 #False
1 == 1 #True
"hello" == "Hello" #Python is case sensitive
"hello" == "hello "#different strings because there's an extra space on the right-hand side

False

In [51]:
# Inequality Operator - checks if two values are NOT equal

5 != 10 #True
5 != 5 #False
"hello" != "hello" #False
"Hello" != "hello" #True
"hello" != "hello " #True

True

In [52]:
5 < 8 # less than

True

In [54]:
5 <= 5 #less than or equal to

True

In [55]:
14 > 9 #greater than

True

In [56]:
14 >= 9 #greater than or equal to

True

## Variables
- A **variable** is a name for a value in your program. It is a placeholder for the value.
- The value that a variable represents can *vary* over a program.
- Multi-word variable names should follow a `snake_case` naming convention.
- Python evaluates the right-hand side of an equal sign first.
- The `len` function returns the length of its argument.

In [77]:
age = 24

In [60]:
age + 5

29

In [63]:
#snake_case_formatting
first_name_of_person = "Danielle"
last_name_of_person = "Gan"
first_name_of_person + " " + last_name_of_person

'Danielle Gan'

In [64]:
price = 19.99
is_pretty = True
first_name = "Dani"

In [65]:
price = 20

In [78]:
age = age + 5

In [79]:
age

29

## Built-in Functions
- A **function** is a repeatable procedure.
- A **function** can accept inputs (which are called **arguments**).
- A **function** produces a **return value**, which is the "output" of the function.
- The technical term for running/executing a function is "invoking" or "calling".
- Invoke a function with a pair of parentheses.
- The `len` function returns the length of its argument.
- The `str` function converts its argument to a string.
- The `int` function converts its argument to an integer.
- The `float` function converts its argument to a floating-point.
- The `type` function returns the type of its argument (the kind of value it is).

In [81]:
len("Danielle") #8
len("   ")

3

In [84]:
str(1234) #"1234"
str(3.14)

'3.14'

In [85]:
int("10") #10

10

In [87]:
float("10") #10.0
float("9.123")

9.123

In [88]:
type(123)
type(-23)

int

In [90]:
type("test")
type("true")

str

In [91]:
type(True)
type(False)

bool

In [92]:
type(None)

NoneType

## Custom Functions
- Define a function with the `def` keyword, a name, a parameter list, and a colon.
- Functions names should follow a `snake_case` naming convention.
- A **parameter** is a name for an expected input.
- Write the function's logic inside a nested block. The end of the block marks the end of the function logic.
- Variables declared inside a function body will only last as long as the function runs.
- Use the **return** keyword to specify the function's return value (output).
- When invoking a function, we can pass in argument sequentially or with explicit parameter names.
- A **default argument** is a fallback value that Python will provide if an argument is not passed for a parameter during invocation.

In [97]:
# Declare a function that accepts a temperature in Celsius and returns it in Farenheit

def convert_to_farenheit(celsius_temp):
    farenheit_temp = celsius_temp * 1.8 + 32
    return farenheit_temp

In [98]:
convert_to_farenheit(6)

42.8

In [99]:
convert_to_farenheit(-123)

-189.4

In [111]:
def convert_to_celsius(farenheit_temp):
    celsius_temp = (farenheit_temp - 32) / 1.8
    return celsius_temp

In [114]:
farenheit_temp = 32
convert_to_celsius(farenheit_temp)

0.0

In [118]:
#You can default if variable is missing
def convert_to_celsius(farenheit_temp =0):
    celsius_temp = (farenheit_temp - 32) / 1.8
    return celsius_temp

In [119]:
convert_to_celsius()

-17.77777777777778

## String Methods
- An **object** is the technical term for a type. A string is an example of an object.
- A **method** is like a function that belongs to an object.
- To invoke a method, provide a period after the object, then the method name and a pair of parentheses.
- We use similar terminology and syntax for functions and methods. We can invoke methods. We can pass arguments to methods. Methods can return values.
- Objects can be **mutable** (capable of change) or **immutable** (incapable of change). A string is immutable.
- Common string methods include `upper`, `lower`, `swapcase`, `title`, `capitalize`, and `strip`.
- **Method chaining** refers to invoking methods on objects returned by previous method invocations. We create a link or "chain" of methods.
- The **in** and **not in** keywords check for the presence and absence of a substring within a string.

In [120]:
"Python Developer".upper()

'PYTHON DEVELOPER'

In [123]:
profession = "Python Developer"
profession.upper()

'PYTHON DEVELOPER'

In [124]:
profession.lower()

'python developer'

In [125]:
profession.swapcase()

'pYTHON dEVELOPER'

In [126]:
"once upon a time".title()

'Once Upon A Time'

In [129]:
"once uPON a tIMe".capitalize()

'Once upon a time'

In [130]:
profession_test = "        Python Developer    "

In [131]:
profession_test.lstrip()

'Python Developer    '

In [132]:
profession_test.rstrip()

'        Python Developer'

In [139]:
profession_test.lstrip().rstrip()

'Python Developer'

In [148]:
profession_test.replace("e","*")

'        Python D*v*lop*r    '

In [150]:
profession_test.strip().startswith("P") #True
profession_test.strip().startswith("Pyt") #True
profession_test.strip().startswith("p") #False

False

In [152]:
profession_test.strip().endswith("er")

True

In [158]:
#in - checks for inclusion
print(profession_test.strip())
"Dev" in profession_test.strip() #true
"dev" in profession_test.strip()

Python Developer

False

In [159]:
"Dev" not in profession_test.strip() #False
"dev" not in profession_test.strip()

True

## Lists
- A **list** is a mutable data structure that holds an ordered collection of values.
- We often use the term **element** to describe an item in the list.
- The length of a list is its number of elements.
- The **append** method adds an element to the end of the list.
- The **pop** methods remove the last element from the list.
- The **in** and **not in** keywords check whether or not an element exists within a list.

In [161]:
[4, 8]

[4]

In [169]:
test = [4, 8]
len(test)

2

In [171]:
party_attendees = ["Michael", "Freddy", "Jason"]
type(party_attendees)

list

In [174]:
test.reverse()
test

[8, 4]

In [176]:
test.reverse()
test

[4, 8]

In [177]:
presidents = ["Washington", "Jefferson"]
presidents.append("Madison")

In [178]:
presidents

['Washington', 'Jefferson', 'Madison']

In [179]:
popcorn_flavors = ["Salted", "Unsalted", "Caramel"]
popcorn_flavors

['Salted', 'Unsalted', 'Caramel']

In [180]:
popcorn_flavors.pop()
popcorn_flavors

['Salted', 'Unsalted']

In [181]:
planets = ["Mercury", "Venus", "Earth", "Mars"]
planets

['Mercury', 'Venus', 'Earth', 'Mars']

In [182]:
"Venus" in planets

True

In [183]:
"Earth" not in planets

False

In [184]:
"earth" not in planets

True

In [185]:
planets.sort()

In [186]:
planets

['Earth', 'Mars', 'Mercury', 'Venus']

## Index Positions and Slicing
- Python assigns every string character an **index position** (an order in line).
- Python assigns every list element an **index position** (an order in line).
- The index starts counting at 0.
- Use square brackets to extract a character/element by index position.
- Use negative values to extract a character/element relative to the end of the object.
- Use slicing to extract multiple character/elements.
- The first index in a slice is inclusive. The second index in a slice is exclusive (Python will go up to that index but *not* include its value).

In [187]:
hero = "Spiderman"
hero

'Spiderman'

In [188]:
len(hero)

9

In [190]:
# 0  1  2  3  4  5  6  7  8
# S  p  i  d  e  r  m  a  n

#-9 -8 -7 -6 -5 -4 -3 -2 -1
# S  p  i  d  e  r  m  a  n


#hero[100] #Out Of Range
hero[4]

'e'

In [192]:
hero[-1]

'n'

In [194]:
hero[0:3]
#First index is inclusive, second index is exclusive

'Spi'

In [198]:
hero[-9:-3]

'Spider'

In [199]:
hero[:3] # SAME AS ABOVE

'Spi'

In [200]:
hero[4:]

'erman'

In [201]:
hero[3:100] #will go to the end even though 100 is technically out of range

'derman'

In [202]:
hero[:]

'Spiderman'

In [203]:
superheroes = ["Batman", "Superman", "Wolverine", "Ironman", "Wonder Woman"]

In [204]:
superheroes[0]

'Batman'

In [205]:
superheroes[0:3]

['Batman', 'Superman', 'Wolverine']

In [206]:
superheroes[-1]

'Wonder Woman'

In [208]:
len(superheroes)

5

In [209]:
superheroes[1:-1]

['Superman', 'Wolverine', 'Ironman']

In [212]:
superheroes[:2]

['Batman', 'Superman']

In [211]:
superheroes[3:]

['Ironman', 'Wonder Woman']

## Dictionaries
- A **dictionary** is a mutable, unordered collection of key-value pairs.
- A **key** is a unique identifier for a value.
- A **value** corresponds to the key. The values can contain duplicates.
- Use a dictionary for **association** (i.e., to connect/map two values together). Use a list for **order**.
- Declare a dictionary with a pair of curly braces.
- Write a colon between every key and value.
- Separate each key-value pair with a comma and a space.
- The length of a dictionary is a count of its key-value pairs.

In [229]:
menu = { "Filet Mignon": 29.99 ,  
        "Big Mac": 3.99 ,
        "Pizza": 3.99, 
        "Salmon": 29.99 }
menu
# KEYS MUST BE UNIQUE (multiple keys can have the same value)

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 3.99, 'Salmon': 29.99}

In [218]:
len(menu)

4

In [230]:
menu["Big Mac"] #3.99
menu["Salmon"]
# KEY ERROR if key DNE in dictionary

29.99

In [231]:
menu["Burrito"] = 13.99
menu

{'Filet Mignon': 29.99,
 'Big Mac': 3.99,
 'Pizza': 3.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [232]:
menu["Big Mac"] = 5.99

In [233]:
menu["Big Mac"]

5.99

In [234]:
menu.pop("Filet Mignon")
#Removes the item from the dictionary

29.99

In [235]:
menu

{'Big Mac': 5.99, 'Pizza': 3.99, 'Salmon': 29.99, 'Burrito': 13.99}

In [236]:
"Pizza" in menu

True

In [237]:
"Hot Pockets" in menu

False

In [238]:
5.99 in menu

False

In [239]:
5.99 in menu.values()

True

In [240]:
menu.values()

dict_values([5.99, 3.99, 29.99, 13.99])

In [241]:
"Lasagna" not in menu

True

In [242]:
"Salmon" not in menu

False

In [243]:
49.99 not in menu.values()

True

In [244]:
29.99 not in menu.values()

False

## Classes
- A **class** is a blueprint/template for creating objects.
- A **class** defines the methods/functionalities that objects made from it will have.
- An object is called an **instance** of the class it is made from.
- The act of creating an object from a class is called **instantiation**.
- Every time we've worked with a Python object, it's been "instantiated" from a class.
- In real world terms, a class is the blueprint and the house we build is the instance/object.
- Syntax options like `""` or `[]` or `{}` are shortcuts for instantiation.
- For other classes, we'll need to use `class()` syntax to instantiate an object.
- Much like functions and methods, some class instantiations will require arguments.

<img src="Blueprint.png" width="600" height="410">

## Navigating Libraries using Jupyter Lab

In [1]:
import pandas as pd

In [ ]:
pd.api.types.