# Working with Dates and Times

In [1]:
import pandas as pd
import datetime as dt

## Review of Python's datetime Module
- The `datetime` module is built into the core Python programming language.
- The common alias for the `datetime` module is `dt`.
- A module is a Python source file; think of like an internal library that Python loads on demand.
- The `datetime` module includes `date` and `datetime` classes for representing dates and datetimes.
- The `date` constructor accepts arguments for year, month, and day. Python defaults to 0 for any missing values.
- The `datetime` constructor accepts arguments for year, month, day, hour, minute, and second.

In [2]:
someday = dt.date(2025, 12, 15) # Year, Month, Day

In [3]:
someday.year
someday.month
someday.day

15

In [4]:
dt.datetime(2025, 12, 15) #includes time (Year, Month, Day, hours, minutes, seconds)
test = dt.datetime(2025, 12, 15, 8, 13, 59)

In [5]:
test.second

59

## The Timestamp and DatetimeIndex Objects

- Pandas ships with several classes related to datetimes.
- The **Timestamp** is similar to Python's **datetime** object (but with expanded functionality).
- A **DatetimeIndex** is an index of **Timestamp** objects.
- The **Timestamp** constructor accepts a string, a **datetime** object, or equivalent arguments to the **datetime** clas.

In [6]:
pd.Timestamp(2027, 3, 14)
pd.Timestamp(2027, 3, 17, 18, 23, 40)
#Will also accept a vanilla python datetime)
vanilla_date = dt.datetime(12, 4, 6, 23, 10, 8)
pd.Timestamp(vanilla_date)
#Will also accept a wide variety of different string objects and try to parse it into a pd timestamp
pd.Timestamp("2023-02-05")
pd.Timestamp("2021/3/2")

pd.Series([pd.Timestamp("2021/3/2")])

0   2021-03-02
dtype: datetime64[ns]

In [7]:
pd.DatetimeIndex(["2025/01/02", "2025/02/02", "2025/03/02"])

index = pd.DatetimeIndex([dt.date(2021, 4, 14),
                  dt.date(2022, 9, 5),
                  dt.date(2023, 10, 6)
])
index[0]
type(index[0])

pandas._libs.tslibs.timestamps.Timestamp

## Create Range of Dates with pd.date_range Function
- The `date_range` function generates and returns a **DatetimeIndex** holding a sequence of dates.
- The function requires 2 of the 3 following parameters: `start`, `end`, and `period`.
- With `start` and `end`, Pandas will assume a daily period/interval.
- Every element within a **DatetimeIndex** is a **Timestamp**.

In [24]:
pd.date_range(start="2025-01-01", end="2025-01-07") #default interval is one day
pd.date_range(start="2025-01-01", end="2025-01-07", freq="2D") #every other day
pd.date_range(start="2025-01-01", end="2025-01-07", freq="B") #business days only

pd.date_range(start="2025-01-01", end="2025-01-31", freq="W") #first SUNDAY and then every W
pd.date_range(start="2025-01-01", end="2025-01-31", freq="W-FRI") #first FRIDAY 

pd.date_range(start="2025-01-01", end="2025-01-31", freq="H") #hour
pd.date_range(start="2025-01-01", end="2025-01-31", freq="6H") #6 Hours

pd.date_range(start="2025-01-01", end="2025-12-31", freq="M") #month end 
pd.date_range(start="2025-01-01", end="2025-12-31", freq="MS") #month start

pd.date_range(start="2025-01-01", end="2040-12-31", freq="A") #year end (12/31 for every year in between)
pd.date_range(start="2025-01-01", end="2040-12-31", freq="AS") #year start

DatetimeIndex(['2025-01-01', '2026-01-01', '2027-01-01', '2028-01-01',
               '2029-01-01', '2030-01-01', '2031-01-01', '2032-01-01',
               '2033-01-01', '2034-01-01', '2035-01-01', '2036-01-01',
               '2037-01-01', '2038-01-01', '2039-01-01', '2040-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [27]:
pd.date_range(start="2025-01-01", freq="D", periods = 25) #25 one day periods
pd.date_range(start="2025-01-01", freq="3D", periods = 25) #25 3-Day periods
pd.date_range(start="2025-01-01", freq="B", periods =180) #180 Business Days

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-06',
               '2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10',
               '2025-01-13', '2025-01-14',
               ...
               '2025-08-27', '2025-08-28', '2025-08-29', '2025-09-01',
               '2025-09-02', '2025-09-03', '2025-09-04', '2025-09-05',
               '2025-09-08', '2025-09-09'],
              dtype='datetime64[ns]', length=180, freq='B')

In [31]:
pd.date_range(end="2013-10-31", freq="D", periods =20) #Go backwards from 10/31 :)
pd.date_range(end="2013-10-31", freq="B", periods =20) #Go backwards 20 business days

DatetimeIndex(['2013-10-04', '2013-10-07', '2013-10-08', '2013-10-09',
               '2013-10-10', '2013-10-11', '2013-10-14', '2013-10-15',
               '2013-10-16', '2013-10-17', '2013-10-18', '2013-10-21',
               '2013-10-22', '2013-10-23', '2013-10-24', '2013-10-25',
               '2013-10-28', '2013-10-29', '2013-10-30', '2013-10-31'],
              dtype='datetime64[ns]', freq='B')

## The dt Attribute
- The `dt` attribute reveals a `DatetimeProperties` object with attributes/methods for working with datetimes. It is similar to the `str` attribute for string methods.
- The `DatetimeProperties` object has attributes like `day`, `month`, and `year` to reveal information about each date in the **Series**.
- The `day_name` method returns the written day of the week.
- Attributes like `is_month_end` and `is_quarter_start` return Boolean **Series**.

In [38]:
bunch_of_dates = pd.Series(pd.date_range(start="2000-01-01", end="2020-12-31", freq="24D 3H"))
bunch_of_dates.head()

0   2000-01-01 00:00:00
1   2000-01-25 03:00:00
2   2000-02-18 06:00:00
3   2000-03-13 09:00:00
4   2000-04-06 12:00:00
dtype: datetime64[ns]

In [49]:
bunch_of_dates.dt.day
bunch_of_dates.dt.month
bunch_of_dates.dt.year
bunch_of_dates.dt.hour
bunch_of_dates.dt.day_of_year
bunch_of_dates.dt.day_name()
bunch_of_dates.dt.is_month_end
bunch_of_dates.dt.is_month_start
bunch_of_dates[bunch_of_dates.dt.is_quarter_start]

0     2000-01-01 00:00:00
106   2007-01-01 06:00:00
212   2014-01-01 12:00:00
299   2019-10-01 09:00:00
dtype: datetime64[ns]

## Selecting Rows from a DataFrame with a DateTimeIndex
- The `iloc` accessor is available for index position-based extraction.
- The `loc` accessor accepts strings or **Timestamps** to extract by index label/value. Note that Python's `datetime` objects will not work.
- Use list slicing to extract a sequence of dates. The `truncate` method is another alternative.

In [53]:
stocks = pd.read_csv("ibm.csv", parse_dates=["Date"], index_col="Date").sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [63]:
stocks.iloc[300]
stocks.loc["2014-03-04"]
stocks.loc[pd.Timestamp(2014, 3, 4)]
stocks.loc["2014-03-04":"2014-12-31"]
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 12, 31)]
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 12, 31), "High":"Close"]

               High      Low    Close
Date
2014-03-04  129.827  128.802  129.329
2014-03-05  130.344  129.319  129.807
2014-03-06  130.676  129.631  130.159
2014-03-07  131.047  129.837  130.198
2014-03-10  130.666  128.890  129.309
...             ...      ...      ...
2014-12-24  115.188  114.183  114.359
2014-12-26  115.257  114.495  114.700
2014-12-29  114.700  112.661  113.412
2014-12-30  113.656  112.934  113.109
2014-12-31  114.105  113.304  113.354

[211 rows x 3 columns]

## The DateOffset Object
- A **DateOffset** object adds time to a **Timestamp** to arrive at a new **Timestamp**.
- The **DateOffset** constructor accepts `days`, `weeks`, `months`, `years` parameters, and more.
- We can pass a **DateOffset** object to the `freq` parameter of the `pd.date_range` function.

In [72]:
stocks.index + pd.DateOffset(days=5) #add 5 days to the date indicies
stocks.index - pd.DateOffset(days=5) #subtract 5 days from the date indicies
stocks.index + pd.DateOffset(months=3) #add 3 months
stocks.index - pd.DateOffset(years=1) #subtract a year

#combine the arguments/parameters here :) 
stocks.index + pd.DateOffset(years=1, months=2, days = 3, hours=14, minutes=23, seconds = 12)

DatetimeIndex(['1963-03-05 14:23:12', '1963-03-06 14:23:12',
               '1963-03-07 14:23:12', '1963-03-08 14:23:12',
               '1963-03-11 14:23:12', '1963-03-12 14:23:12',
               '1963-03-13 14:23:12', '1963-03-14 14:23:12',
               '1963-03-15 14:23:12', '1963-03-18 14:23:12',
               ...
               '2024-12-01 14:23:12', '2024-12-02 14:23:12',
               '2024-12-05 14:23:12', '2024-12-06 14:23:12',
               '2024-12-07 14:23:12', '2024-12-08 14:23:12',
               '2024-12-09 14:23:12', '2024-12-12 14:23:12',
               '2024-12-13 14:23:12', '2024-12-14 14:23:12'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [79]:
birthdays = pd.date_range(start="1999-02-02", end="2024-02-02", freq=pd.DateOffset(years=1))

In [80]:
stocks[stocks.index.isin(birthdays)]

                Open      High       Low     Close        Volume
Date
1999-02-02   58.7798   59.1487   57.2866   57.8604  1.784837e+07
2000-02-02   73.3454   75.8174   72.2826   74.3282  1.173084e+07
2001-02-02   73.9964   74.8278   71.9333   72.3607  8.261823e+06
2004-02-02   65.1457   65.6659   64.7203   65.3048  9.336939e+06
2005-02-02   61.6187   61.9935   61.5201   61.9594  5.475112e+06
2006-02-02   53.5156   53.6093   53.1555   53.3712  9.433124e+06
2007-02-02   65.1145   65.5254   64.9701   65.1594  1.013064e+07
2009-02-02   59.5254   60.3549   58.9291   59.7440  1.506003e+07
2010-02-02   82.1483   82.6645   81.4319   82.4674  8.979360e+06
2011-02-02  107.3810  107.4880  106.8540  107.3030  5.941719e+06
2012-02-02  128.2460  128.6750  127.3480  127.4650  5.870955e+06
2015-02-02  108.8250  109.3030  107.0390  109.3030  6.668783e+06
2016-02-02   90.2454   90.5743   89.4862   89.7096  4.504994e+06
2017-02-02  131.9550  132.5400  131.4670  132.2370  3.458244e+06
2018-02-02  127.2410  127.3670  125.0150  125.1520  6.644631e+06
2021-02-02  108.2690  109.7620  108.2100  108.3370  6.991314e+06
2022-02-02  129.2810  131.0560  128.8700  130.7640  5.622927e+06
2023-02-02  135.9600  136.7200  134.8500  136.3900  6.107793e+06

## Specialized Date Offsets
- Pandas nests more specialized date offsets in `pd.tseries.offsets`.
- We can add a different amount of time to each date (for example, month end, quarter end, year begin)

In [81]:
stocks.index

DatetimeIndex(['1962-01-02', '1962-01-03', '1962-01-04', '1962-01-05',
               '1962-01-08', '1962-01-09', '1962-01-10', '1962-01-11',
               '1962-01-12', '1962-01-15',
               ...
               '2023-09-28', '2023-09-29', '2023-10-02', '2023-10-03',
               '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09',
               '2023-10-10', '2023-10-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [89]:
stocks.index + pd.tseries.offsets.MonthEnd() #bring every date to the end of the month
stocks.index + pd.tseries.offsets.QuarterEnd() #bring every date to the end of the quarter.
stocks.index + pd.tseries.offsets.QuarterBegin()
stocks.index + pd.tseries.offsets.QuarterBegin(startingMonth=1)
stocks.index - pd.tseries.offsets.QuarterBegin(startingMonth=1)

DatetimeIndex(['1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01',
               ...
               '2023-07-01', '2023-07-01', '2023-10-01', '2023-10-01',
               '2023-10-01', '2023-10-01', '2023-10-01', '2023-10-01',
               '2023-10-01', '2023-10-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [91]:
stocks.index + pd.tseries.offsets.YearEnd()
stocks.index + pd.tseries.offsets.YearBegin()

DatetimeIndex(['1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01',
               ...
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

## Timedeltas
- A **Timedelta** is a pandas object that represents a duration (an amount of time).
- Subtracting two **Timestamp** objects will yield a **Timedelta** object (this applies to subtracting a **Series** from another **Series**).
- The **Timedelta** constructor accepts parameters for time as well as string descriptions.

In [92]:
pd.Timestamp("2023-03-31") - pd.Timestamp("2023-03-20")

Timedelta('11 days 00:00:00')

In [93]:
pd.Timestamp("2023-03-31 12:30:48") - pd.Timestamp("2023-03-20 19:25:59")

Timedelta('10 days 17:04:49')

In [94]:
pd.Timestamp("2023-03-20 19:25:59") - pd.Timestamp("2023-03-31 12:30:48")

Timedelta('-11 days +06:55:11')

In [100]:
pd.Timedelta(days=3, hours=2, minutes=5)
pd.Timedelta("5 minutes") #will try to parse out what's inside of the string
pd.Timedelta("3 days 2 hours 5 minutes")

Timedelta('3 days 02:05:00')

In [105]:
ecommerce = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date","delivery_date"], date_format="%m/%d/%y")
ecommerce.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [107]:
ecommerce["Delivery Time"] = ecommerce["delivery_date"] - ecommerce["order_date"]

In [108]:
ecommerce.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [110]:
ecommerce["If It Took Twice As Long"] = ecommerce["delivery_date"] + ecommerce["Delivery Time"]

In [111]:
ecommerce.head()

   order_date delivery_date Delivery Time If It Took Twice As Long
ID
1  1998-05-24    1999-02-05      257 days               1999-10-20
2  1992-04-22    1998-03-06     2144 days               2004-01-18
4  1991-02-10    1992-08-26      563 days               1994-03-12
5  1992-07-21    1997-11-20     1948 days               2003-03-22
7  1993-09-02    1998-06-10     1742 days               2003-03-18

In [115]:
ecommerce["Delivery Time"].max()
ecommerce["Delivery Time"].min()
ecommerce["Delivery Time"].mean()

Timedelta('1217 days 22:53:53.532934128')